[Unit]
Description=Raspberry Pi 3 Headless Video Kiosk Player
DefaultDependencies=no
After=local-fs.target kiosk-expand.service
Wants=kiosk-expand.service
Conflicts=getty@tty1.service shutdown.target
Before=shutdown.target

[Service]
Type=simple
User=root
ExecStart=/usr/local/bin/kiosk-player.sh
Restart=always
RestartSec=1
StandardInput=null
StandardOutput=null
StandardError=journal
TTYPath=/dev/tty1
TTYReset=yes
TTYVHangup=yes

[Install]
WantedBy=basic.target
