[Unit]
Description=One-shot Media Partition Auto-Expander
DefaultDependencies=no
After=local-fs.target
Before=kiosk-player.service
ConditionPathExists=!/etc/kiosk-expanded

[Service]
Type=oneshot
ExecStart=/usr/local/bin/kiosk-expand.sh
RemainAfterExit=yes
StandardOutput=tty
StandardError=tty
TTYPath=/dev/tty1
TTYReset=yes

[Install]
WantedBy=basic.target
